@font-face {
  font-family: "iconfont"; /* Project id 2730518 */
  src: url('./font_2730518_72w7w4rds1b.ttf') format('woff2'),
       url('./font_2730518_72w7w4rds1b.woff') format('woff'),
       url('./font_2730518_72w7w4rds1b.woff2') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-fangda1:before {
    content: "\e617";
  }
  
  .icon-cha:before {
    content: "\e61c";
  }
  
  .icon-left:before {
    content: "\e604";
  }
  
  .icon-zuoyoujiantou:before {
    content: "\e605";
  }
  
  .icon-sanjiao3:before {
    content: "\e602";
  }
  
  .icon-dianhua:before {
    content: "\e66f";
  }
  
  .icon-mono-bottom:before {
    content: "\ea52";
  }
  
  .icon-dingbu:before {
    content: "\e76c";
  }
  
  .icon-arrow-up:before {
    content: "\e60b";
  }
  
  .icon-chuangkou01:before {
    content: "\e667";
  }
  
  .icon-close:before {
    content: "\e60f";
  }
  
  .icon-suoxiao:before {
    content: "\e839";
  }
  
  .icon-prepo_qianchuli_renwuguanliqi:before {
    content: "\e66b";
  }
  
  .icon-shuaxin:before {
    content: "\e828";
  }
  
  .icon-quan:before {
    content: "\e601";
  }
  
  .icon-fenxiang:before {
    content: "\e624";
  }
  
  .icon-duibi:before {
    content: "\e674";
  }
  
  .icon-aixin:before {
    content: "\e664";
  }
  
  .icon-jiankuohaocudayou:before {
    content: "\e60a";
  }
  
  .icon-jiankuohaocudayou-copy:before {
    content: "\e600";
  }
  
  .icon-miaoshamiaoshadingdan:before {
    content: "\e663";
  }
  
  .icon-guanzhu:before {
    content: "\e61e";
  }
  
  .icon-jingdongkefu:before {
    content: "\e608";
  }
  
  .icon-right:before {
    content: "\e6a3";
  }
  
  .icon-cc-right:before {
    content: "\e6c4";
  }
  
  .icon-tupianshangchuan:before {
    content: "\e6c5";
  }
  
  .icon-noupload-img:before {
    content: "\e6a7";
  }
  
  .icon-tupianshangchuanx:before {
    content: "\e603";
  }
  
  .icon-tupianshangchuanshibai:before {
    content: "\e6c7";
  }
  
  .icon-jiantouxia:before {
    content: "\e62d";
  }
  
  .icon-guanbixianshi:before {
    content: "\e611";
  }
  
  .icon-xianshikejian:before {
    content: "\e68f";
  }
  
  .icon-xiangjizhaoxiang:before {
    content: "\e6f1";
  }
  
  .icon-icon-:before {
    content: "\e615";
  }